#banner{
	color: $gray02;
	line-height: 30px;
	position: relative;
	@include border-shadow($top: #eee);
	&:hover{
		a{
			color: $main;
		}
	}
	a{
		color: $gray02;
		@include transition(0.3s);
		&:hover{
			text-decoration: underline;
		}
	}
	small{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.loading{
		background: image-url('loading_pacman.gif') center no-repeat;
		text-indent: -9999px;
	}
	.container{
		height: 30px;
		overflow: hidden;
		position: relative;
		display: none;
		.feed{
			list-style: none;
			position: absolute;
			top: 0;
			width: 100%;
			li{
				position: relative;
				small{
					position: absolute;
					right: 0;
				}
			}
		}
	}
}

section.about {
	margin: 20px auto;
	border: 1px dotted #258fb8;
	min-height: 80px;
	background: white;
	&:hover {
		background: #fffeee;
	}

	.avatar {
		float: left;
		padding-right: 20px;
	}
	p {
		padding: 10px;
		font-size: 16px;
		line-height: 26px;
		text-align: justify;

		.hi {
			font-size: 24px;
			font-weight: bold;
		}
	}
	.more img {
		margin-bottom: -4px;
	}
}
